<h1>Sign up</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :name, class: 'form-label' %><br/>
    <%= f.text_field :name, class: 'form-field', placeholder: "Enter full name" %>
  </div><br/>

  <div>
    <%= f.label :email, class: 'form-label' %><br />
    <%= f.email_field :email, class: 'form-field', autofocus: true, placeholder: "Enter email address" %>
  </div><br />
  
  <div>
    <%= f.label :password, class: 'form-label' %> <% if @validatable %><% end %><br />
    <%= f.password_field :password, class: 'form-field', placeholder: "Minimum 8 characters", autocomplete: "off" %>
  </div><br />

  <div>
    <%= f.label :password_confirmation, class: 'form-label' %><br />
    <%= f.password_field :password_confirmation, class: 'form-field', autocomplete: "off", placeholder: "Confirm password" %>
  </div><br/>
  
  <div>
    <%= f.submit "Sign up", class: 'button submit-button' %>
  </div>
<% end %>

<br/>
<%= render "devise/shared/links" %>
