<%= form_for text do |f| %>

  <% if text.image? %>
  <div>
    <%= image_tag(text.image.full.url) %>
  </div><br/>
  <% end %>

  <div>
    <%= f.label :title, class: 'form-label' %></br>
    <%= f.text_field :title, class: 'content', placeholder: 'Title' %>
  </div><br/>

  <div>
    <p><%= f.label :image, class: 'form-label' %></p>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div></br>

  <div>
    <%= f.label :description, class: 'form-label' %></br>
    <div id="epiceditor">
      <%= f.text_area :description, class: 'content content-area', id: 'my-edit-area', placeholder: 'Enter content here' %>
    </div>
  </div>

  <% if current_user.premium? %>
  <div>
    <%= f.check_box :public %> <%= f.label :public, "Public", class: 'form-label' %>
  </div></br/>
  <% end %>

  <div><%= f.submit "Save", class: 'button submit-button' %></div>

<% end %>

