<h1><%= @text.title %></h1>
<%= @text.created_at.strftime("%b %d, %Y") %><br/>
<small>By <%= @text.authors %></small>

<% if current_user && @text.authors.include?(current_user.name) %>
  <div class="text-options">
    <button type="button" class="button submit-button"><%= link_to "Edit", edit_text_path %></button>
    <button type="button" class="button cancel-button"><%= link_to "Delete", @text, method: :delete, data: { confirm: "Are you sure you want to delete this text?" } %></button>

    <% if current_user.premium? %>
    <button type="button" class="button" data-toggle="modal" data-target="#myModal">Add Collaborators</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Collaborators</h4>
          </div>

          <div class="modal-body">
          <%= form_for @text do |f| %>
            <%= f.collection_select :user_ids, User.all, :id, :name, {}, {class: 'chosen-select', multiple: true} %>
            <%= f.submit "Submit", class: "button submit-button" %>
          <% end %>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="button cancel-button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<br/><br/>
<p><%= image_tag(@text.image.full.url) if @text.image? %></p>
<p><%= markdown @text.description %></p>
